POETRY_VIRTUALENVS_IN_PROJECT=true
ANDROID_HOME=C:\Users\your_user_name\AppData\Local\Android\Sdk
ADB_EXE=C:\Users\your_user_name\AppData\Local\Android\Sdk\platform-tools\adb.exe
ALLURE_PATH=C:\Users\your_user_name\Desktop\EasyFin\allure-2.36.0\allure-2.36.0\bin\allure.bat